@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.belweBold {
  font-family: "BelweBold" !important;
}

@font-face {
  font-family: "BelweBold";
  src: url("./fonts/BelweBold.otf") format("opentype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.txt-shadow {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

input {
  background-color: #f7ecd5 !important;
}
